Repository PeretzRon/users-assignment-server: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: add db module
  src/app.module.ts
  src/config.ts
  src/db/db.module.ts
  src/db/db.service.spec.ts
  src/db/db.service.ts
  src/main.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: add health check
  src/app.module.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/health/mongo.health.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

fix: add routes constants to git
  src/shared/constants/routes.const.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: add return response interceptor
  src/shared/interceptor/response.interceptor.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: add global exception response
  .eslintrc.js
  src/shared/filters/http-exception.filter.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: get all users api
  .eslintrc.js
  src/app.module.ts
  src/shared/constants/routes.const.ts
  src/shared/dtos/users/user-response.dto.ts
  src/shared/dtos/users/users.dto.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.repository.ts
  src/users/users.service.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: create user api
  .eslintrc.js
  package-lock.json
  package.json
  src/main.ts
  src/shared/dtos/users/create-user.dto.ts
  src/shared/dtos/users/user-response.dto.ts
  src/shared/dtos/users/users.dto.ts
  src/users/users.controller.ts
  src/users/users.repository.ts
  src/users/users.service.ts
  test/app.e2e-spec.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: delete user api
  src/shared/dtos/users/delete-user.dto.ts
  src/users/users.controller.ts
  src/users/users.repository.ts
  src/users/users.service.ts
  test/app.e2e-spec.ts
  test/utils.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

fix: hide password from log
  src/users/users.controller.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

fix: change response structure
  src/users/users.controller.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

feat: add retry mechanism
  .eslintrc.js
  docker-compose.yml
  package-lock.json
  package.json
  src/app.module.ts
  src/config.ts
  src/queue/queue.module.ts
  src/queue/queue.service.ts
  src/retry/retry.service.spec.ts
  src/retry/retry.service.ts
  src/users/users.module.ts
  src/users/users.service.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

fix: fix retry mechanism
  src/config.ts
  src/db/db.service.spec.ts
  src/db/db.service.ts
  src/retry/retry.service.spec.ts
  src/retry/retry.service.ts
  src/users/users.service.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: add swagger for apis
  package-lock.json
  package.json
  src/health/health.controller.ts
  src/main.ts
  src/shared/constants/routes.const.ts
  src/shared/dtos/users/create-user.dto.ts
  src/shared/dtos/users/user-response.dto.ts
  src/users/users.controller.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: attach postman
  postman.json
Due: cspell lint --no-must-find-files, prettier --write

chore: update README.md
  README.md
Due: none

feat: implement unique email constraint and improve error handling in user creation
  docker-scripts/init-mongo-db-with-collections.js
  src/retry/retry.service.ts
  src/users/users.controller.ts
  src/users/users.repository.ts
  src/users/users.service.ts
  test/app.e2e-spec.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

chore: update README.md to run Docker Compose in detached mode
  README.md
Due: none

chore: Update README.md
  README.md
Due: none

feat: add Redis health check and integrate with health controller and tests
  package-lock.json
  package.json
  src/config.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/health/redis.health.ts
  src/queue/queue.module.ts
  test/app.e2e-spec.ts
Due: cspell lint --no-must-find-files, prettier --write, eslint --fix

Path conditions:
  cspell lint --no-must-find-files: any of: **/*.{ts,yml,json,yaml,js}
  prettier --write: any of: **/*.{ts,yml,json,yaml,js}
  eslint --fix: any of: **/*.{ts,yml,yaml,js}
